<section class="section-sustainability">
    <div class="container-info-sustainability">
        <h1 class="title-sustainability">Sustainability</h1>
        <div class="container-img-sustainability">
            <img class="img-sustainability earth-img-sustainability" src="../src/assets/images/eco-friendly1.AVIF">
            <img class="img-sustainability" src="../src/assets/images/robot-sustainability.WebP" alt="ilustrative image eco-friendly">
            <img class="img-sustainability earth-img-sustainability" src="../src/assets/images/eco-friendly1.AVIF">
        </div>

        <p class="text-sustainability">
            At Industry Future, sustainability is more than just a buzzword; it's an integral part of our ethos. We recognize the urgent need for responsible innovation, ensuring that our solutions not only meet industry demands but also prioritize the well-being of our planet. Every product and service we offer is crafted with an eco-conscious mindset, minimizing waste and maximizing energy efficiency.

            Our commitment to sustainability is deeply rooted in our design philosophy. By continuously integrating green technologies and practices, we ensure a smaller environmental footprint without compromising on performance or reliability. This harmonious blend of efficiency and responsibility makes our offerings truly unique.
            
            Embracing Industry Future's solutions means joining a movement towards a brighter, greener future. We're not just setting industry standards; we're shaping a more sustainable world, where progress and planetary care go hand in hand.
        </p>
    </div>
</section>