@media screen and (max-width: 640px) {
    :root { 
        --size-sm: 12px;
        --size-md: 14px;
        --size-lg: 16px;
        --size-lg2: 22px;
        }
        .section-sustainability {
            gap: 10px;
            margin: 20px 0px;
            font-size: var(--size-sm);
            & .container-info-sustainability { 
                width: 80%;
                height: auto;
                min-height: auto;
                max-height: none;
                padding: 20px;
                gap: 20px;
                .container-img-sustainability {
                    gap: 0px;
                    & .img-sustainability {
                        width: 80%;
                        height: 125px;
                        min-height: auto;
                    }
                    & .earth-img-sustainability {
                        display: none;
                    }
                }
                & .title-sustainability {
                    font-size: var(--size-lg2);
                }
            }
        }
    }
@media screen and (min-width: 640px) and (max-width: 1100px) { 
    .section-sustainability {
        & .container-info-sustainability { 
            max-height: 100%;
            gap: 30px;
            & .title-sustainability {
                padding: 20px 0px;
                font-size: 35px;
            }
            & .container-img-sustainability {
                & .img-sustainability {
                    width: 36%;
                }
            }
        }
        & .text-sustainability {
            padding-bottom: 20px;
        }
    }
}