<div class="container-article">
    <article class="container-article-content">
        <div class="container-title-article">
            <h3 class="css-title-h3-article">What is the future of the industry?</h3>
            <img src="./assets/images/logo-GPT3-removebg.png" alt="logo GPT3" class="css-img-logo-article"></img> 
        </div>
        <p class="css-p-article">"The future of the industry is uncertain and unpredictable, and it is difficult to determine with accuracy what it will bring. However, it is safe to say that the future belongs to those industrial companies that adapt and evolve as trends and market needs change. To be prepared for the future, it is essential to incorporate cutting-edge technologies in production processes. Robotic arms are an example of how technology can help companies improve performance, increase efficiency and reduce costs." <br> - ChatGPT3</p>
    </article>
</div>