<aside class="container-aside">
    <div class="container-aside-robotbender">
        <h4 class="css-h4-aside">RobotBender</h4>
        <figure class="container-figure-aside"> 
            <img src="./assets/images/Robot_arm_2-2removebg.png" alt="Robot arm" class="css-img-aside">
        
            <figcaption class="css-figcaption-aside">
                -Ilustrative image-
            </figcaption>
        </figure>

        <ul class="css-ul-article">
            <li class="css-li-aside">Ability to work autonomously and without human intervention</li>
            <li class="css-li-aside">Significant increase in efficiency and productivity in industry</li>
            <li class="css-li-aside">Ability to perform precise and repetitive tasks faster and more accurately than human work.</li>
        </ul>
        <button type="button" class="css-button-aside">Know more</button>
    </div>
</aside>