@media screen and (min-width: 640px) and (max-width: 1100px) {

:root {

    --color-blue_violet: #142EAE;
    --color-violet_smooth: #425EE7;
    --color-gray_medium: #5E637A; 
    --color-gray_smooth: #9CA2BE;
    --color-gray_form: #6F6B6B;
    --color-gray_form2: #B4B0B0; 
    --color-gray_form-title: #85929E;
    --footer-end: #FFFFFF;
    --footer-hover-end: #7A7979;
    --header-hover: #224BFF;
    --color-gray-p:#7A7979;
    
    --size-sm: 12px;
    --size-md: 14px;
    --size-lg: 16px;
    --size-lg2: 18px;
    --size-extra-lg: 22px; 
    
    }

/*Header*/ /*title*/
.css-img-arm_robot-title {
    width: 30px;
    height: 40px;
}
.css-h1-title {
    font-size: var(--size-lg2);
}
.css-p-title {
    font-size: 12px;
    align-self: flex-end;
}
.css-form-search {
    display: none;
}
.css-button-login-header {
    display: block;
    margin-right: 12px;
}
.css-img-login {
    width: 14px;
    height: 14px;
    padding: 0px;
}
.css-p-login-button {
    font-size: 11px;
    
}
#css-button-select_country {
    height: 25px;
    width: auto;
    font-size: 11px;
}

/*header*7 /*nav*/


.container-list-menu-header {
    align-self: center;
    padding: 5px;
}

.container-ul-nav-header > li a {
    font-size: 16px; 
    
}

/*Sections*/
.mobile-none {
    display: none;
}
.mobile {
    display: block;
}



/*section title*/


.css-h2-section {
    border-radius: 8px;
    padding: 10px;
    color: var(--color-violet_smooth);
}


/*section first*/
.container-section-content-first {

    display: flex;
    flex-direction: column;

    margin-top: 30px;
}
.css-img-section-first {
    
    width: 87%;
    height: 320px;
    margin: 0px 20px 20px 20px;
}

.css-p-section-first-mobile {
   
    font-size: var(--size-md);
    color: var(--color-gray-p);
    text-align: start;
    
    
    padding: 0px;
    margin: 0px 20px 0px 20px;
}
.css-p-section-first-mobile::first-letter {

    color: black;
    font-size: var(--size-lg2);
    
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
}



/*section second*/
.container-section-content-second {

    display: flex;
    flex-direction: column;

    margin-top: 20px;
}

.css-img-section-second {
    margin: 0px;
    width: 87%;
    height: 320px;
    margin:0px 20px 20px 20px;
}

.css-p-section-second-mobile, .css-p2-section-second-mobile,.css-p3-section-second-mobile {
   
    font-size: var(--size-md);
    color: var(--color-gray-p);
    text-align: start;
    
    
    padding: 0px;
    margin: 0px 20px 0px 20px;
}
.css-p-section-second-mobile::first-letter {

    color: black;
    font-size: var(--size-lg2);
    
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
}

/*section third*/
.container-section-content-third {

    display: flex;
    flex-direction: column;

    margin-top: 20px;
}

.css-img-section-third {
    margin: 0px;
    width: 87%;
    height: 320px;
    margin:0px 20px 20px 20px;
}

.css-p-section-third-mobile{
    
    font-size: var(--size-md);
    color: var(--color-gray-p);
    text-align: start;
    
   
    padding: 0px;
    margin: 0px 20px 0px 20px;
}
.css-p-section-third-mobile::first-letter {

    color: black;
    font-size: var(--size-lg2);
    
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
}



/*article + aside*/

.container-article {
    display: flex;
    flex-direction: column-reverse;
}

/*aside*/
.container-aside {
    display: flex;
    justify-content: center;
    
    margin: 0px;
    border: none;
}
.container-aside-robotbender {
    width: auto;
    border: 1px solid var(--color-gray_smooth);
    border-radius: 16px;
    align-self: center;
}
.css-h4-aside {
    color: var(--color-violet_smooth);
}
.css-figcaption-aside {
    color: var(--color-gray-p);
    font-family: cursive;
    font-weight: 500;
}
.css-ul-article {
    margin: 20px 0px;
}
.css-ul-article li {
    color: black;
}

/*article*/
.container-article-content {
    margin-top: 50px;
}
.css-title-h3-article {
    text-align: center;
}



/*article-contact*/

.container-main-contact {
    display: grid;
    justify-items: center;
}
.container-section-contact {
    width: 80%;
    height: 70%;
}


/*footer-end*/
.container-footer-end {
    width: auto;
    flex-direction: column;
    justify-content: space-around;
}
.container-ul-footer {
    width: 100%;
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.container-map-footer {
    justify-self: center;
    grid-column: 1/5;
    grid-row: 1/2;
}
.css-img-map-footer {
    width: 400px;
}
.container-map-footer li {
    text-align: center;
}
.container-map-footer li a{
    font-size: var(--size-extra-lg);
}
.container-content-footer-end {
    margin: 0px;
}
.container-content-footer-end li a {
    font-size: var(--size-extra-lg);
    color: var(--color-gray_form-title);
    margin-top: 10px;
}
.container-content-footer-end-first {
    grid-column: 1/2;
    grid-row: 2/3;
}
.container-content-footer-end-second {
    grid-column: 2/3;
    grid-row: 2/3;
}
.container-content-footer-end-penultimate {
    grid-column: 3/4;
    grid-row: 2/3;
    margin: 0px;
}
.container-content-footer-end-last {
    grid-column: 4/5;
    grid-row: 2/3;
    margin: 0px;  
}
.container-iframe-footer {
    height: 270px;
    width: 100%;  
    margin: 10px 10px 10px 0px;
    grid-row: 3/4;
    grid-column: 1/5;  
    display: flex;
    justify-content: center;
    align-items: center;
}

.css-iframe-footer {
    width: 90%;  
    height: 270px;
    border: 1px solid var(--color-blue_violet);
}
}