    <div class="container-article">
        <article class="container-article-content">
            <div class="container-title-article">
                <h3 class="css-title-h3-article">What is the future of the industry?</h3>
                <img src="./assets/images/logo-GPT3-removebg.png" alt="logo GPT3" class="css-img-logo-article"></img> 
            </div>
            <p class="css-p-article">"The future of the industry is uncertain and unpredictable, and it is difficult to determine with accuracy what it will bring. However, it is safe to say that the future belongs to those industrial companies that adapt and evolve as trends and market needs change. To be prepared for the future, it is essential to incorporate cutting-edge technologies in production processes. Robotic arms are an example of how technology can help companies improve performance, increase efficiency and reduce costs." <br> - ChatGPT3</p>
        </article>
    
        <aside class="container-aside">
            <div class="container-aside-robotbender">
                <h4 class="css-h4-aside">RobotBender</h4>
                <figure class="container-figure-aside"> 
                    <img src="./assets/images/Robot_arm_2-2removebg.png" alt="Robot arm" class="css-img-aside">
                
                    <figcaption class="css-figcaption-aside">
                        -Ilustrative image-
                    </figcaption>
                </figure>

                <ul class="css-ul-article">
                    <li class="css-li-aside">Ability to work autonomously and without human intervention</li>
                    <li class="css-li-aside">Significant increase in efficiency and productivity in industry</li>
                    <li class="css-li-aside">Ability to perform precise and repetitive tasks faster and more accurately than human work.</li>
                </ul>
                <button type="button" class="css-button-aside">Know more</button>
            </div>
        </aside>
    </div>
