    <div class="container-title-section">
        <h2 class="css-h2-section">Why choose us?</h2>
    </div>
    <section> 
        <div>
            <img src="./assets/images/Worker_controls_robotic_arm_to_cut_steel_in_a_factory.jpg" alt="Worker_controls_robotic_arm_to_cut_steel_in_a_factory" class="css-img-section-first">
            <p class="mobile-none">
                Robotic arms are a valuable tool for industrial companies, as they can significantly improve the efficiency and accuracy of the production chain. In the automotive industry, for example, robotic arms can assist in car assembly, which can increase the speed and precision of production. In the food industry, robotic arms can assist in food handling and packaging, reducing the need for human labor. 
            </p>
            <p class="mobile-none">
                In the pharmaceutical industry, robotic arms can assist in the filling and sealing of medications, increasing accuracy and reducing the risk of errors. In the textile industry, robotic arms can assist in cutting and sewing clothing, which can increase the speed and precision of production. In the plastic industry, robotic arms can assist in molding and handling pieces, increasing accuracy and reducing production time. Robotic arms are also useful in the construction industry, where they can assist in handling materials and placing structures, reducing the risk of injury and increasing efficiency. In summary, robotic arms can significantly improve efficiency, accuracy and safety of the production chain in a variety of industries.
            </p>
            <p class="mobile">
                Robotic arms are essential in many sectors. In automotive, they boost production speed and precision. In food and pharmaceuticals, they improve accuracy while minimizing
            </p>
            <p class="mobile">    
                human labor and errors. In textiles and plastics, they enhance speed, precision, and reduce production time. They also increase safety and efficiency in construction. Overall, they greatly optimize various industries.
            </p>
            
        </div>
    </section>
    
    <section>
        <div>
            <img src="./assets/images/engineer-cooperation-male-and-female-technician-maintenance.jpg" alt="image-engineer-cooperation" class="css-img-section-second">
            <p class="mobile-none"> 
                In our team of engineers, we oversee and collaborate on projects that involve improving technologies in our robotic arms according to customer needs. Our engineers work closely with our customers to understand their specific requirements and develop custom solutions that fit their needs. 
            </p>
            <p class="mobile-none"> 
                We use state-of-the-art tools and techniques to design, program, and test the robotic arms before implementation. Additionally, our engineers oversee the installation and setup of the robotic arms on the customer's work site, ensuring that they are properly configured and operate efficiently.
            </p>
            <p class="mobile-none"> 
                We also provide training to operators and maintenance staff so they can use and maintain the robotic arms safely and efficiently. In summary, our team of engineers works collaboratively with our customers to develop custom solutions to improve technologies in our robotic arms, overseeing and assisting in all stages of the project.
            </p>
            <p class="mobile"> In our engineering team, we tailor robotic arm technologies based on customer needs. We utilize advanced tools to design and test these arms, then oversee their setup and provide training. We work closely with customers from conception to completion to ensure optimal performance.</p>
        </div>
    </section>
    <section>
        <div>
            <img src="./assets/images/robotic_arms_in_a_car_plant.jpg" alt="robotic_arms_in_a_car_plant" class="css-img-section-third">
            <p class="mobile-none">
                Our customers have experienced a significant increase in their performance by incorporating robotic arms into their production systems. According to our statistics, customers have seen a 30% increase in production speed, a 40% increase in accuracy, and a 50% reduction in downtime. Additionally, the incorporation of robotic arms has allowed customers to reduce labor costs and improve safety in the workplace. Customers have also reported higher satisfaction with the quality of the final product due to the increased precision and speed in production.
            </p>
            <p class="mobile">
                Customers using robotic arms have seen a 30% rise in speed and a 50% drop in downtime, with improved accuracy and safety. They've also saved on labor costs and reported better product quality.
            </p>
        </div>
    </section>
