<form class="container-form-contact">
    <div class="container-title-form"> 
        <h5 class="css-h5-contact">Contact form</h5>
    </div>
    <div class="container-input-contact">
        <input type="text" placeholder="Name"  class="css-input-contact">
        <input type="email" placeholder="Email*"  class="css-input-contact">
        <input type="text" placeholder="Telephone number"  class="css-input-contact">
        <input type="text" placeholder="Country"  class="css-input-contact">
        <input type="text" placeholder="Postal code"  class="css-input-contact">
    </div>
    <div class="container-message-form"> 
        <input type="text" placeholder="Asunt"  class="css-input-contact css-input-asunt">
        <textarea class="css-textarea-contact" rows="8" cols="30" name="post" placeholder="Write your post here" maxlength="50000"></textarea>
    </div>
    <div class="container-checkbox-form">
        <div> 
            <input type="checkbox" id="contact-me"  class="css-input-checkbox-contact" checked>
            <label for="contact-me">Contact me</label>
        </div>
        <div> 
            <input type="checkbox" id="terms_and_conditions"  class="css-input-checkbox-contact">
            <label for="terms_and_conditions">I accept us <a href="/">Terms and Conditions</a></label>
        </div>
    </div>
    <div class="container-submit-contact"> 
        <input type="submit" value="Send" class="css-submit-form">
    </div>
</form>