<div class="container-main-header">
    <div class="container-title-content"> 
        <img src="../src/assets/icons/Robot_arm_2-removebg.ico" alt="arm robot" class="css-img-arm_robot-title hidden-inResponsive">
        <div>
            <h1 class="css-h1-title">Industry Future</h1>
            <p class="css-p-title">American and Europe</p>
        </div>
    </div>
    
    <div class="container-search">
        <div class="container-button-login"> 
            <button class="css-button-login-header">
                <img src="../src/assets/icons/login-removebg.png" alt="login" class="css-img-login">
                <p class="css-p-login-button">Login</p>
            </button>
        </div>
        
        <form action="#" class="css-form-search">
            <input type="text" class="input css-input-search_website" placeholder="Search keyword(s)"> 
            <input type="image" src="../src/assets/icons/lupa-removebg.png" class="input css-input-image-search" alt="lupa"> 
        </form>
                <select id="css-button-select_country">
                    <option value="" selected disabled>Select country</option>
                    <option value="United States">United States</option>
                    <option value="Canada">Canada</option>
                    <option value="Mexico">Mexico</option>
                    <option value="Spain">Spain</option>
                    <option value="Germany">Germany</option>
                    <option value="United Kingdom">United Kingdom</option>
                    <option value="France">France</option>
                </select>
    </div>
</div>
<nav class="container-nav-content" id="navBar"> 
    <ul class="container-ul-nav-header">
        <li class="css-li-menu-header"> 
            <a href="#" class="css-a-link-menu-header" data-index="1">
                    Applications
                </a>
            </li>
            <li class="css-li-menu-header"> 
                <a href="#" class="css-a-link-menu-header" data-index="2">
                    About Us
                </a>
            </li>
            <li class="css-li-menu-header"> 
                <a href="#" class="css-a-link-menu-header" data-index="3">
                    Technology
                </a>
            </li>
            <li class="css-li-menu-header"> 
                <a href="#" class="css-a-link-menu-header" data-index="4">
                    Sustainability
                </a>
            </li>
    </ul>
</nav>
