<section class="section-aboutUs">
    <div class="container-aboutUs container-info">
        <h1 class="about-us-title">About us</h1>
        <p class="no-mobile">
            At Industry Future, we envision a future where industries operate with unmatched efficiency, accuracy, and safety. Our passion lies in harnessing the transformative capabilities of robotic arms, driving innovation across diverse sectors, from automotive to textiles.
        </p>
    </div>

    <div class="container-ourVision container-info">
        <h2 class="title-ourVision">Our Vision</h2> 
        <p class="no-mobile"> 
            To be the foremost catalyst in the redefinition of industrial processes through robotic technology, where every production line, regardless of the industry, experiences unparalleled precision, speed, and safety. 
        </p>
    </div>

    <div class="container-ourMission container-info"> 
        <h2 class="title-ourMission">Our Mission</h2>
            <ul class="container-ul-ourMission">
                <li class="li-ourMission">
                    <h3 class="title-li-ourMission">Innovation:</h3> 
                    <p class="text-li-ourMission">
                        Tailor-making robotic arm solutions that cater to individual customer needs, ensuring seamless integration into existing systems.
                    </p>
                </li>
                <li class="li-ourMission">
                    <h3 class="title-li-ourMission">Collaborative Evolution:</h3> 
                    <p class="text-li-ourMission">
                        Working hand-in-hand with our clients, our engineers ensure a deep understanding of specific requirements, translating them into tangible tech solutions.
                    </p>
                </li>
                <li class="li-ourMission">
                    <h3 class="title-li-ourMission">Empowerment through Education:</h3> 
                    <p class="text-li-ourMission">
                        Going beyond implementation, we prioritize equipping your team with the knowledge and skills to operate and maintain these robotic marvels, ensuring sustainability and growth.
                    </p>
                </li>
                <li class="li-ourMission">
                    <h3 class="title-li-ourMission">Delivering Impact:</h3> 
                    <p class="text-li-ourMission">
                        It's not just about technology for us. It's about the tangible growth our partners experience – from significant increases in production speeds and accuracy to considerable reductions in downtime and labor costs. Incorporating robotic arms isn't just an upgrade; it's a transformative leap. Align with our vision, and together, let's redefine what's possible in the industrial realm.
                    </p>
                </li>
            </ul>
    </div>
</section>