<section class="section-technology">
    <div class="container-info-technology">
        <h1 class="title-technology">Precision and Adaptability</h1>
        <img src="../src/assets/images/robot-technology.jpg" class="img-technology" alt="ilustrative technology">
        <div class="container-text-info-technology">
            <p class="text-info-technology">
                At Industry Future our technology stands as a testament to groundbreaking innovation tailored for industry excellence. Each solution we offer is adaptable and scalable, ensuring a custom fit for every client, addressing their unique challenges with precision and speed. The meticulous engineering behind our products guarantees impeccable accuracy, elevating operational standards while ensuring safety and robustness.
            </p>
        </div>
    </div>
    <div class="container-info-technology">
        <h1 class="title-technology">Forward-Thinking Design</h1>
        <img src="../src/assets/images/robot-technology2.jpg" class="img-technology" alt="ilustrative technology">
        <div class="container-text-info-technology">
            <p class="text-info-technology">
                Our technology's distinction lies in its forward-thinking design. It's not just about meeting current industry standards but setting new ones. With capabilities for self-learning and adaptation, our solutions are future-ready, keeping our clients at the forefront of advancements without the hassle of constant manual upgrades.
            </p>
        </div>
    </div>
    <div class="container-info-technology">
        <h1 class="title-technology">Sustainable Excellence</h1>
        <img src="../src/assets/images/robot-technology3.jpg" class="img-technology" alt="ilustrative technology">
        <div class="container-text-info-technology">
            <p class="text-info-technology">
                Beyond mere efficiency, we're committed to sustainability. Our technological solutions are designed to be energy-efficient, minimizing waste, and reducing environmental impact. With Industry Future, industries are not just embracing advancement; they're championing a smarter, safer, and greener future.
            </p>
        </div>
    </div>
</section>


