<ul class="container-ul-footer">
                
    <div class="container-map-footer"> 
            <img src="../src/assets/images/map-uruguay.jpg" alt="Ubicación" class="css-img-map-footer">
            <ul class="map-ul-footer"> 
                <li>Uruguay</li>
                <li>Postal Code: 11100</li>
                <li><a href="/">Contact us</a></li>
            </ul>
    </div>
        
    <div class="container-content-footer-end container-content-footer-end-first">
        <ul class="ul-footer">
            <li> 
                <h1 class="css-h1-footer">Home</h1>
            </li>
            <li> 
                <a href="/" class="css-link-second-footer">Legal Notice</a>
            </li>
            <li> 
                <a href="/" class="css-link-second-footer">Privacy Policy</a>
            </li>
            <li> 
                <a href="/" class="css-link-second-footer">Downloads</a>
            </li>
            <li> 
                <a href="/" class="css-link-second-footer">Cookies</a>
            </li>
        </ul>
    </div>
    
    <div class="container-content-footer-end container-content-footer-end-second mobile-none-640">
        <ul class="ul-footer">
            <li> 
                <h1 class="css-h1-footer">Mauris</h1>
            </li>
            <li> 
                <a href="/" class="css-link-second-footer">Semper </a>
            </li>
            <li> 
                <a href="/" class="css-link-second-footer">Viverra </a>
            </li>
            <li> 
                <a href="/" class="css-link-second-footer">Aliquet</a>
            </li>
            <li> 
                <a href="/" class="css-link-second-footer">Interdum</a>
            </li>
        </ul>
    </div>
    <div class="container-content-footer-end container-content-footer-end-penultimate mobile-none-640">
        <ul class="ul-footer">
            <li> 
                <h1 class="css-h1-footer">Lorem</h1>
            </li>
            <li> 
                <a href="/" class="css-link-second-footer">Ipsum</a>
            </li>
            <li> 
                <a href="/" class="css-link-second-footer">Amet</a>
            </li>
            <li> 
                <a href="/" class="css-link-second-footer">Consectetur</a>
            </li>
            <li> 
                <a href="/" class="css-link-second-footer">Elit</a>
            </li>
        </ul>
    </div>
    <div class="container-content-footer-end container-content-footer-end-last mobile-none-640">
        <ul class="ul-footer">
            <li> 
                <h1 class="css-h1-footer">Present</h1>
            </li>
            <li> 
                <a href="/" class="css-link-second-footer">Tempor</a>
            </li>
            <li> 
                <a href="/" class="css-link-second-footer">Nulla</a>
            </li>
            <li> 
                <a href="/" class="css-link-second-footer">Auctor</a>
            </li>
            <li> 
                <a href="/" class="css-link-second-footer">Libero</a>
            </li>
        </ul>
    </div>
    <div class="youtube-facade" data-video-id="0SARbwvhupQ">
        <img src="../src/assets/images/The-Myth-of-the-Genius-Programmer.png" alt="miniature of the video" class="youtube-thumbnail">
        <iframe src="" title="YouTube video player" class="css-iframe-footer" allowfullscreen style="display: none;"></iframe>
    </div>
</ul>