
<section class="section-applications">
    <div class="container-info-applications">
        <div class="container-info">
            <p>
                At Industry future, our robotic arms are more than just tools—they're catalysts for change, driving innovation and streamlining processes in a myriad of industries. Here's how they're shaping the future:
            </p>
        </div>
        <div class="container-chart-applications" style="position: relative; width: 90vw; height: 60vh;">
            <canvas id="myChart"></canvas>
        </div>
    </div>
    <div class="container-all-applications">
        <div class="container-applications container-automotive">
            <div>
                <h2>Automotive Industry</h2>
                <img src="../src/assets/images/robot-automotive.jpg" alt="automotive factory" class="application-img">
                    <p>
                    Car Assembly with Precision: Our robotic arms expedite the car assembly process, integrating seamlessly to enhance both speed and precision. They play a crucial role in ensuring consistent quality and productivity.
                    </p>
                </div>
            </div>
        
            <div class="container-applications container-food">
                <div>
                    <h2>Food Industry</h2>
                    <img src="../src/assets/images/Robot-Food.jpg" alt="food factory" class="application-img">
                    <p>
                        Efficient Handling and Packaging: Whether it's delicate handling or high-speed packaging, our robotic arms adapt to the dynamic needs of the food industry, reducing reliance on manual labor and ensuring impeccable hygiene standards.
                    </p>
                </div>
            </div>
            <div class="container-applications container-pharmaceutical">
                <div>
                    <h2>Pharmaceutical Industry</h2>
                    <img src="../src/assets/images/robot-pharmaceutical.jpg" alt="pharmaceutical factory" class="application-img">
                    <p>
                        Precision in Medication Handling: In an industry where precision can save lives, our robotic arms aid in the accurate filling and sealing of medications, drastically reducing the risk of errors and contamination.
                    </p>
                </div>
            </div>
            <div class="container-applications container-plastics">
                <div>
                    <h2>Plastics Industry</h2>
                    <img src="../src/assets/images/Robots-plastics.jpg" alt="plastics factory" class="application-img">
                    <p>
                        Molding and Handling with Care: Our robotic arms optimize the molding process, handling delicate and complex plastic pieces with utmost care, ensuring consistency and quality in production.
                    </p>
                </div>
            </div>
            <div class="container-applications container-construction">
                <div>
                    <h2>Construction Industry</h2>
                    <img src="../src/assets/images/robot-construction.jpg" alt="factory" class="application-img">
                    <p>
                        Safety and Efficiency in Material Handling: In the construction sector, where safety is paramount, our robotic arms assist in material handling and placement. They not only speed up processes but also significantly reduce the risk of workplace injuries.
                    </p>
                    <p>
                        Every application of our robotic arms signifies a step toward a more efficient, precise, and safe production environment. Dive into the world of Industry Future and discover how robotic technology can revolutionize your industry.
                    </p>
                </div>
            </div>
        </div>
</section>


