<script>
    var chartjs;
    function initializeChart() {
        if (chartjs) {
            chartjs.destroy();
    }
        this.element = document.getElementById('myChart')
        this.context = this.element.getContext("2d");

        chartjs = new Chart(this.element, {
        type: 'bar',
        data: {
        labels: ['Automotive', 'Food', 'Pharmaceutical', 'Plastics', 'Construction'],
        datasets: [{
            label: 'Adoption of Robotic Arms in 2021 (%)',
            data: [90, 60, 65, 55, 25],
            borderWidth: 1
        }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: true,
            scales: {
                y: {
                    beginAtZero: true
                    }   
                }
            }
        }); 
    }
</script>